* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#btn {
    background-color: #686565;
    border: none;
    padding: 20px 30px;
    margin: 200px;
    color: #fff;
}

#btn:hover {
    background-color: #383737;
    cursor: pointer;
}