*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#btn {
    padding: 50px;
    background-color: rgb(11, 170, 170);
    color: #fff;
    border: none;
}

.btnClass {
    padding: 50px;
    background-color: rgb(170, 101, 11);
    color: #fff;
    border: none;
}

.btnClassMinus {
    padding: 50px;
    background-color: rgb(8, 201, 82);
    color: #fff;
    border: none;
}

#btn:hover {
    background-color: rgba(63, 175, 11, 0.322);
}

p {
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-left: 200px;
}